<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574985743484-vvajjcfm6hhcflji4df0d9ikbh8pirn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574985743484-vvajjcfm6hhcflji4df0d9ikbh8pirn1</string>
	<key>API_KEY</key>
	<string>AIzaSyDdsLjITeWuppZ5m81jcpD75P6o0rt9EDE</string>
	<key>GCM_SENDER_ID</key>
	<string>574985743484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>grabage</string>
	<key>PROJECT_ID</key>
	<string>grabage-bda02</string>
	<key>STORAGE_BUCKET</key>
	<string>grabage-bda02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574985743484:ios:7bd2ca63d87774b4e2edf9</string>
</dict>
</plist>